body {
  background-image: url(grey-gradient-background.jpg);
}

h1 {
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
  text-shadow: 1px 1px;
  margin-bottom: 3px;
  margin-top: 5px;
  color: firebrick;
}
h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-family: sans-serif;
}

.container{
  width: 100%;
  height: auto;
  
}

.navbar {
  width: 100%;
  height: 60px;
  margin-top: -6px;
  display: block;

}

.navbar ul {
 margin-right: 1000px;
  
}

.navbar ul li {
  display: inline;
  line-height: 60px;
}

li a {
  display: block;
  width: 60px;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
}

.navbar ul li a:hover{
  color: white;

}

.header{
  width: 100%;
  height: 100px;
  background-image: url(ynMtrY.jpg);
  background-size: cover;
  }

  .header img{
    width: 200px;
    height: 200px;
    margin-left: 1000px;
    border-radius: 20px;
  }

  
